*~
*.bak
*.bck
*-cache.lib
*.kicad_pcb-bak
*.dcm
*.pho
*.drl
*.pdf
*.svg
*.ods
*.xml
*/mk/*
.hg*
.dropbox.attr
*.sublime-project
*.sublime-workspace 
F1/client-term/client
*.bk
*.config
*.creator
*.creator.user*
*.files
*.includes

*.cflags
*.config
*.creator*
*.cxxflags
*.files
*.includes

*-bak
